.color_change{ background-color: var(--main-bg-color);height: 100vh;text-align: center;padding: 120px;color: #78e217;}

.con_close_btn {    background-color: transparent;
    border: 0;
    border-radius: 0px;
    color: #c83003 !important;
    font-family: inherit;
    font-size: 25px;
    font-weight: 700;
    padding: 12px 15px;
    text-transform: uppercase;
    position: absolute;
    top: -10px;
    right: 0;
    cursor: pointer;
    border-radius: 100%;}
	
	



.slideout_color_Confi h1{font-size: 20px;padding: 16px 0;padding-top: 0;     color: black;}
.slideout_color_Confi p{border-bottom: 1px solid #ffffff;padding-bottom: 10px;     color: black;}
footer {color: #333;font-size: .75rem;text-transform: uppercase;padding: 1em 0;     color: black;}
.slideout_color_Confi ul{}
.slideout_color_Confi ul li{}
.slideout_color_Confi ul li h3{    padding: 10px;
    margin: 10px 0;
    color: white;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 4px 8px 0 rgb(197 195 195 / 20%), 0 6px 20px 0 rgb(160 158 158 / 19%);}
.slideout_color_Confi ul li h3 span{}
.color_confi_btn{
    position: fixed;
    bottom: 50%;
    /* right: 1217px; */
    background-color: #1b1b1a;
    border: 0;
    color: white;
    padding: 8px 0px;
    height: 40px;
    width: 43px;
    border-radius: 0px 25px 25px 0px;
    font-size: 19px;
    line-height: 0px;
    cursor: pointer;
    z-index: 9999;
	left: 0;
	}

    .color_confi_btn:focus{border: 0; outline: 0}


@-webkit-keyframes fa-cog {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.color_confi_btn .fa-cog {
    -webkit-animation: fa-cog 2s linear infinite;
}


/* div .slideout_color_Confi [dir=rtl]{
	
	right:0;
	
} */
.slideout_color_Confi.on {right: 1057px;}

.slideout_color_Confi {
	background: #e3e8ee;color: #000;
	height: 100%;
	min-height: 100%;
	padding: 1em;
	position: fixed;
	right: -2000px;
	top: 0;
	transition-duration: 0.5s;
	width: 220px;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
	z-index: 99999;

	}


 .slideout_color_Confi.on {
	
	    right: auto;
    left: 0;

	

}