/*******ROOT CSS COLOR********/
:root {
	--main-bg-color: #1a202e;
	--second-bg-color: #232b3e;
	--white-bg-color: #fff;
	--header-search-bg: rgba(0, 0, 0, .2);
	--white-text-color: #fff;
	--btn-color: #5c77ff;
	--menu-hover-bg: rgba(200, 200, 200, 0.2);
}
/*******CLOSE********/
a {
	color: var(--white-text-color)
}
body {
	color: var(--white-text-color)
}
#side-menu li.active,
li .nav-second-level li {
	background: var(--main-bg-color);
}
body {
	background-color: var(--main-bg-color) !important
}
#side-menu li .nav-second-level a:hover {
	background-color: var(--btn-color) !important;
}
#side-menu.nav>li>a:focus,
#side-menu.nav>li>a:hover {
	color: white !important;
}
.label-tag {
	margin-right: 5px;
	color: white;
	border: 1px solid #232b3e;
	background: var(--second-bg-color);
	font-size: 12.5px;
}
.dropdown-menu {
	border-color: transparent;
}
#wrapper {
	background: var(--second-bg-color);
}
#header {
	background: var(--main-bg-color);
}
#top_search input {
	background: var(--header-search-bg);
	border-radius: 40px;
	height: 50px;
}
.nanobar {
	height: 0
}
#side-menu {
	background: var(--main-bg-color);
}
#side-menu li.active>a {
	background: var(--main-bg-color);
	color: white;
}
#side-menu.nav>li>a:focus,
#side-menu.nav>li>a:hover {
	background: var(--btn-color) !important;
	color: black
}
.dashboard_user {
	background: var(--second-bg-color);
}
#side-menu li a {
	color: var(--white-text-color);
}
.btn-info {
	background: var(--main-bg-color);
}
.radio-primary input[type=radio]:checked+label::after {
	background-color: var(--main-bg-color) !important;
}
.radio-primary input[type=radio]:checked+label::before {
	border-color: var(--main-bg-color) !important;
}
a {
	color: --main-bg-color
}
table.dataTable thead>tr>th {
	color: var(--white-text-color);
	white-space: nowrap;
}
#side-menu li .nav-second-level li a {
	color: var(--white-text-color)
}
#side-menu.nav>li.pinned_project>a:hover {
	color: #000;
}
.user-data .home-activity .nav.nav-tabs {
	background: var(--main-bg-color) !important;
}
.panel_s .panel-body {
	background: var(--main-bg-color);
	border: 1px solid var(--main-bg-color);
}
.top_stats_wrapper {
	padding: 5px 15px 15px 15px;
	background: var(--second-bg-color);
	border: 1px solid var(--main-bg-color);
}
.text-dark {
	color: var(--white-text-color) !important
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover,
.navbar-pills.nav-tabs>li>a:focus,
.navbar-pills.nav-tabs>li>a:hover {
	border-bottom: 1px solid var(--btn-color);
	color: var(--btn-color);
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover,
.nav-tabs>li>a:focus,
.nav-tabs>li>a:hover {
	border-bottom: 1px solid var(--btn-color);
	color: var(--btn-color);
}
.hrm-bgblue {
	background-color: transparent;
}
.btn-success {
	background: var(--main-bg-color);
}
.checkbox-info input[type=checkbox]:checked+label::before,
.checkbox-info input[type=radio]:checked+label::before {
	background-color: var(--main-bg-color);
	border-color: var(--main-bg-color);
}
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
	background: var(--main-bg-color);
}
.user-data .home-activity .nav-tabs>li.active>a,
.user-data .home-activity .nav-tabs>li.active>a:focus,
.user-data .home-activity .nav-tabs>li.active>a:hover,
.user-data .home-activity .nav-tabs>li>a:focus,
.user-data .home-activity .nav-tabs>li>a:hover {
	color: --main-bg-color !important
}
.activity-feed .feed-item {
	border-left: 2px solid var(--main-bg-color);
	
}
.label-info {
	background: 0 0;
	border: 1px solid var(--main-bg-color);
	color: --main-bg-color;
}
.modal-header {
	background: var(--main-bg-color);
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div.xdsoft_current {
	-webkit-box-shadow: none;
	box-shadow: none;
	background: var(--main-bg-color);
	border-radius: 3px;
	opacity: 0.9;
}
#setup-menu>li>a {
	color: var(--white-text-color);
}
#setup-menu-wrapper {
	background: var(--main-bg-color);
}
.btn.active,
.btn.active:focus,
.btn:active,
.btn:active:focus,
.btn:focus {
	background: var(--main-bg-color);
	border-color: var(--main-bg-color)
}
.btn-primary {
	color: #fff;
	background: var(--main-bg-color) !important
}
.checkbox-primary input[type=checkbox]:checked+label::before,
.checkbox-primary input[type=radio]:checked+label::before {
	background-color: var(--main-bg-color);
	border-color: var(--main-bg-color);
}
#top_search {
	padding-top: 7px;
}
.btn-success.active,
.btn-success:active,
.btn-success:focus,
.btn-success:hover,
.open .dropdown-toggle.btn-success {
	background-color: var(--main-bg-color);
	border-color: var(--main-bg-color);
}
.text-info {
	color: var(--white-text-color);
}
.dropzone .dz-message {
	color: var(--main-bg-color);
}
.table.items thead {
	background-color: var(--main-bg-color);
}
.radio-primary input[type=radio]:checked+label::before .radio-primary input[type=radio]:checked+label::after {
	background-color: var(--main-bg-color) !important;
}
.login_admin {
	background-color: var(--main-bg-color) !important;
}
.user-data .home-activity .nav.nav-tabs>li>a {
	color: var(--white-text-color) !important
}
.bootstrap-select .btn-default {
	background-color: var(--second-bg-color) !important;
}
.dropdown-menu {
	background-color: var(--second-bg-color) !important;
}
.dropdown-menu li a {
	color: var(--white-text-color)
}
.filter-option-inner-inner {
	color: var(--white-text-color)
}
.simple-bootstrap-select .bootstrap-select .btn-default {
	padding-left: 8px;
}
table.dataTable thead>tr>th {
	background: var(--second-bg-color);
	border-color: transparent !important
}
table.dataTable thead .sorting:after {
	opacity: 1;
}
div.dataTables_wrapper div.dataTables_length select {
	width: auto;
	color: white;
	background-color: var(--second-bg-color);
	border-color: transparent;
}
.dt-buttons.btn-group .btn {
	width: auto;
	color: white;
	background-color: var(--second-bg-color) !important;
	border-color: transparent !important;
}
.dataTables_filter input {
	background: var(--second-bg-color);
	color: white
}
.dataTables_filter .input-group-addon {
	background: var(--second-bg-color);
	color: white
}
.text-muted {
	color: var(--white-text-color);
}
.dataTables_empty,
div.dataTables_wrapper div.dataTables_info,
div.dataTables_wrapper div.dataTables_length label {
	color: var(--white-text-color);
}
.todo-date {
	color: var(--white-text-color);
}
.media-body {
	color: var(--white-text-color);
}
.feed-item .text-has-action {
	color: var(--white-text-color);
}
table.dataTable thead>tr>td.sorting_asc,
table.dataTable thead>tr>td.sorting_desc,
table.dataTable thead>tr>th.sorting_asc,
table.dataTable thead>tr>th.sorting_desc {
	background: var(--second-bg-color);
}
.btn-info {
	background-color: var(--second-bg-color)
}
.bootstrap-select .btn-default {
	border-color: var(--second-bg-color) !important
}
.control-label,
label {
	color: var(--white-text-color)
}
.nav-tabs>li>a {
	color: var(--white-text-color)
}
.form-control {
	background-color: var(--second-bg-color);
	color: var(--white-text-color) !important;
	border: 1px solid var(--second-bg-color) !important;
}
.input-group-addon {
	border: 1px solid var(--second-bg-color) !important;
	background-color: var(--second-bg-color) !important;
	color: var(--white-text-color) !important;
}
.table>thead>tr>th {
	color: var(--white-text-color);
}
form.dropzone {
	background-color: var(--second-bg-color);
}
.dropzone.dz-clickable * {
	color: var(--white-text-color);
}
.btn-bottom-toolbar {
	background: var(--second-bg-color);
}
.btn-bottom-toolbar .waves-ripple {
	background-color: var(--main-bg-color)
}
.bs-actionsbox .btn-group button {
	color: var(--white-text-color) !important
}
.navbar-pills-flat {
	background: var(--main-bg-color);
	border: 1px solid transparent;
}
.control-label {
	color: var(--white-text-color) !important
}
.navbar-pills.navbar-pills-flat.nav-tabs>li:first-child>a {
	border: 1px solid #e5e5e
}
.modal-body .form-control {
	background-color: transparent;
	color: white !important
}
.customer-profile-group-heading {
	background: var(--main-bg-color);
	border: 1px solid var(--main-bg-color);
	color: white !important
}
.profile small {
	color: white;
}
.table.items .main {
	background-color: transparent;
}
.font-medium-xs {
	color: color: var(--white-text-color);
}
.modal-body,
.modal-content {
	background: var(--second-bg-color)
}
.modal-body .form-control {
	border: 1px solid #fff !important;
}
.modal-content .form-control {
	border: 1px solid #fff !important;
}
.modal-content .dropdown-toggle {
	border: 1px solid #fff !important;
}
.modal-body .btn-default {
	border: 1px solid #fff !important;
}
.modal-footer {
	background: var(--main-bg-color);
}
.lc-picker label {
	color: black
}
#DataTables_Table_0_wrapper .table>tbody>tr>td,
#DataTables_Table_0_wrapper .table>tfoot>tr>td {
	background-color: var(--second-bg-color) !important;
	color: white;
}
#setup-menu li.active>a {
	color: white !important;
	background-color: #232b3e;
}
#setup-menu li .nav-second-level li {
	color: white !important;
	background-color: #232b3e !important;
}
#setup-menu li .nav-second-level li a {
	color: white;
}
#setup-menu li>a.active,
#setup-menu li>a:active,
#setup-menu li>a:focus,
#setup-menu li>a:hover {
	background-color: var(--second-bg-color);
	color: white !important;
}
.btn {
	background-color: var(--btn-color) !important;
	color: white;
	border-color: transparent !important;
}
#side-menu li .nav-second-level li.active a {
	background-color: var(--btn-color) !important;
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
	color: #fff;
	background-color: var(--btn-color);
	border-color: var(--btn-color);
}
.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
	color: white;
	background-color: var(--second-bg-color);
	border-color: var(--second-bg-color);
}
#setup-menu li .nav-second-level li.active a {
	background-color: var(--btn-color) !important;
}
#setup-menu li .nav-second-level li a.active,
#setup-menu li .nav-second-level li a:hover {
	color: #FFF;
	background-color: var(--btn-color) !important;
}
#top_search_button .btn {
	background-color: transparent !important;
}
.panel_s>.panel-heading {
	font-weight: 500;
	background: var(--main-bg-color);
	border-color: var(--main-bg-color);
	border-bottom: 1px solid #242b3e;
}

.task-single-col-left {
  
	background: #232b3e;}


.task-single-col-right {
    background: #232b3e;
    border-left: 1px solid #eeeeee;
}


a:focus, a:hover {
    color: #5c77ff;
    text-decoration: none;
}

.ui-autocomplete-input{color: white !important}

.task-info .task-info-icon {
    color: #fbfcfd;
}

.kan-ban-content {
    background: #242c3f;

}

li.lead-kan-ban.current-user-lead .panel-body, li.task.current-user-task .panel-body {
    background: #1a202e!important;
    border: 1px solid #565656!important;
}

.kan-ban-content .kanban-empty h4 {
    color: white;
}

.task-info-inline-input-edit {

    color: black;
}


.task-user {
    margin-top: 7px;
}

.task-single-col-right .simple-bootstrap-select .filter-option-inner-inner {
    color: black !important;
}


#notifications .notification-box-all {
	background: #242b3e !important;}

#notifications .notification-box-all:hover {
	background: #242b3e !important;}


#expenses-report-table.table tbody td {background: var(--main-bg-color);}

.bootstrap-select .dropdown-toggle .caret {
 
    color: white;
}

.email-template-heading{background: var(--main-bg-color);}

small {
    color: white !important;
}


.table>tbody>tr>td, .table>tfoot>tr>td {
   
    background-color: #232b3e;
}

.company-name-formatted{color: white !important}


#invoice_top_info .panel-body {

    background-color: var(--second-bg-color) !important;
}


.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
 
    
}

.panel_s>.panel-footer{    background: var(--main-bg-color);}


.mce-panel {
  
    background-color: #232b3e !important;
}

.mce-menubar .mce-menubtn button span {
    color: white !important;
}

.mce-btn{ background-color: #232b3e !important;}


.mce-menubtn.mce-fixed-width span {
    color: white !important;
}

.mce-menubar .mce-caret {
    border-top-color: white !important;
}

.mce-caret {
	border-top: 4px solid #fff;}

.mce-menu-item .mce-ico, .mce-menu-item .mce-text {
    color: white !important;
}

.mce-btn button {
	color: white !important;}

.mce-ico{color: white !important;}

.mce-caret {
   
	border-top: 4px solid #fff !important;}

.company-name-formatted{color: white !important}

.proposal-html-company-info b{color: white !important}

.bg-stripe {
	background: #1a202e;}



.accounting-template .alert-warning a {
    color: #5c77ff;
}

.bootstrap-select .no-results {

	background: #232b3e;}


.client-reply{    background: var(--main-bg-color) !important;}

.tc-content{color: white}

.label.ticket-label.label-default {
    border: 1px solid #ffffff;
    color: white;
}

.notification-box-all.unread, .notification-box.unread {
	background: #232b3e;}


/**New**/


.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: transparent;
}


.lead-modal .activity-feed .feed-item {
    background: transparent;
}


.activity-feed .feed-item {
    border-left: 2px solid #eaeaea;
}

.lead-info-heading {
	background: #1a202e;}

.lead-info-heading h4 {
    color: white;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
	background-color: #1a202e;}


#lead-manager-zoom-modal .modal-body .form-control {
	background-color: #232b3e;}


.ringing {
	background-color: var(--second-bg-color);}
	
	
	#setup-menu li .nav-second-level li.active a {
	background-color: #5e3030;}

.ringing {
	background-color: #5e3030;}


#setup-menu li .nav-second-level li.active a {
	background-color: #5e3030;}

	.quick-stats-leads{
	display:none;
	
	
}
.top_stats_wrapper {
   
    border-radius: 15px;

}
.panel_s .panel-body {
   
    border-radius: 11px;
  
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav-tabs>li>a:focus, .nav-tabs>li>a:hover {
      background: var(--main-bg-color);
	  color:white;
}
#setup-menu li .nav-second-level li.active a {
	background-color: #b1976b;}
#top_search {
    padding-top: 7px;
    margin-left: 200px;
}


#top_search_button{
	 margin-right: -183px;
}

	
	