/*******ROOT CSS COLOR********/
:root {
	--main-bg-color: #b1976b;
	--white-bg-color: #fff;
	--header-search-bg: rgba(0, 0, 0, .2);
	--black-text-color: #000;
	--menu-hover-bg: rgba(200, 200, 200, 0.2);
}
/*******CLOSE********/
.header {
	
	background: var(--main-bg-color);
	
}







.navbar-default .navbar-brand.logo-text {
	
	color: #fff;
	
}

/* Track */
.navbar-nav::-webkit-scrollbar-track {
	background: var(--main-bg-color);
}
/* Handle */
.navbar-nav::-webkit-scrollbar-thumb {
	background: #443a3666;
}
/* Handle on hover */
.navbar-nav::-webkit-scrollbar-thumb:hover {
	background: #443a3666;
}
#theme-navbar-collapse {

	padding-top: 1px;
	margin-top: 10px;
}


.submenu {

	background-color: var(--main-bg-color);

}


.submenu li a {
	color: #ffffff !important;
}

.btn {
	background-color: var(--main-bg-color) !important;
	color: white !important;
	border-color: transparent !important;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
	background-color: var(--main-bg-color) !important;
	color: white !important;
	border-color: transparent !important;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover,
.nav-tabs > li > a:focus,
.nav-tabs > li > a:hover {
	border: 0;
	border-radius: 0;
	border-bottom: 2px solid var(--main-bg-color);
	background: 0 0;
	color: var(--main-bg-color);
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
	color: #fff;
	background-color: var(--main-bg-color);
	border-color: var(--main-bg-color);
}
.dz-default span {
	color: var(--main-bg-color)
}
.container #wrapper {
	margin-left: 0;
	padding: 40px 17px;
}
.checkbox-primary input[type=checkbox]:checked + label::before,
.checkbox-primary input[type=radio]:checked + label::before {
	background-color: var(--main-bg-color);
	border-color: var(--main-bg-color);
}
.submenu li a:active,
.submenu li a:focus,
.submenu li a:hover {
	color: #ffffff !important;
}

.navbar-default .navbar-nav>li.customers-nav-item-login>a {
   
    display: none;
}
.navbar-default .navbar-brand.logo-text {
   
    text-align: center;
  
}