body{
    overflow-x: hidden;
}
/* Added for rtl menu icon and arrwo */
li a i.menu-icon-ar {
    margin-left: 16px;
    display: block;
    float: right;
    width: 18px;
    font-size: 17px
}

.user-data .home-activity i.menu-icon-ar {
    width: 10px;
    font-size: 16px
}

.nav-tabs.navbar-pills-flat>li a i.menu-icon-ar {
    font-size: 15px;
    width: 12px;
    margin-top: 1px
}

#setup-menu .arrow-ar,
#side-menu .arrow-ar {
    float: left;
    padding-top: 3px
}

.fa.arrow-ar:before {
    content: "\f104"
}

.active>a>.fa.arrow-ar:before {
    content: "\f107"
}

body.rtl #setup-menu .arrow-ar,
body.rtl #side-menu .arrow-ar {
    margin-left: 15px
}

body.rtl .bootstrap-select .dropdown-toggle .caret 
{
     right: unset; left: 12px;
    }
body.rtl .input-group .bs3.bootstrap-select .dropdown-toggle .filter-option 
{
    margin-right: 0px
}
body.rtl .bootstrap-select.show-tick .dropdown-menu .selected span.check-mark 
{
    right: unset; left: 15px;
}
body.rtl .bootstrap-select.show-tick .dropdown-menu li a span.text 
{
     margin-right: unset; margin-left: 34px;
    }

    /* Added for rtl menu icon and arrwo */

    
#add_adjust_form .control-label{
    margin: 10px;
}#adjust_div p{
     margin: 6px;

 }#add_adjust_action{
      margin-left: 5px;
      margin-right: 5px;
  }
#cancel_btn{
    margin-left: 5px;
    margin-right: 5px;
}

.btn_plus{
    color: #008ece !important;
    border: 1px solid #bfcbd9 !important;
    background-color: #fbfdff !important;
}

.random_background{
    padding: 20px !important;
    color: #323a45 !important;
    margin-bottom: 0 !important;
    font-size: unset;
}

/* to change Color */
#header {
    background: #415165;
    /* Old browsers */
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    /* background: -webkit-gradient(linear, left top, right top, from(#415165), color-stop(26%, #51647c), color-stop(73%, #51647c), to(#1adefc)); */
    /* background: linear-gradient(to right, #415165 0%, #51647c 26%, #51647c 73%, #1adefc 100%); */
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#415165', endColorstr='#4f5d7a', GradientType=1);
    /* IE6-9 */
    display: block;
    height: 63px;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 99;
}
.ajax-remove-values-option .ajax-clear-values {
    right: 15px !important;
}

.datepicker_modal {
    width: 250px !important;
}

/*by baraa just for mozila ff */
@-moz-document url-prefix() {
    .custom_select_arrow{
        -webkit-appearance: none !important;
        appearance: none !important;
        -moz-appearance:none !important;
        background: transparent url('data:image/gif;base64,R0lGODlhBgAGAKEDAFVVVX9/f9TU1CgmNyH5BAEKAAMALAAAAAAGAAYAAAIODA4hCDKWxlhNvmCnGwUAOw==') left center no-repeat !important;
        background-position: calc(4% - 0px) center !important;
    }
}
/*by baraa for tooltip_pulse */
.tooltip_pulse {
    position: absolute;
    right: 74%;
    z-index: 99999999999999999999;
    top: 12%;
}

.pulse {
    background: #415165;
    box-shadow: inset 0 0 10px 0 grey;
    border-radius: 100%;
    height: 24px;
    width: 25px;
    text-align: center;
    font-size: 18px;
    color: white;
}
.pulse:before, .pulse:after {
    content: "";
    border-radius: 100%;
    display: block;
    height: 140%;
    position: absolute;
    top: -20%;
    left: -20%;
    width: 140%;
    box-shadow: inset 0 0 0 2px #415165;
    transition: all ease-in-out 300ms;
    opacity: 0;
}
.pulse:nth-child(2n + 1):before {
    animation-delay: 200ms;
}
.pulse:before {
    animation: pulse-long;
    animation-iteration-count: infinite;
    animation-duration: 1200ms;
    opacity: 1;
}
.pulse:hover {
    box-shadow: inset 0 0 10px 0 grey;
}
.pulse:hover:before, .pulse:hover:after {
    opacity: 1;
}
.pulse:hover:before {
    animation: pulse-short;
    animation-iteration-count: infinite;
    animation-duration: 1000ms;
    opacity: 1;
}

@keyframes pulse-short {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(2);
    }
    100% {
        opacity: 0;
    }
}
@keyframes pulse-long {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.4);
    }
    100% {
        opacity: 0;
    }
}



@font-face {
    font-family: 'ar';
    font-style: normal;
    font-weight: normal;
    src: local('ar'), url("Cairo-Regular.ttf") format('truetype');
  }
  body {
    font-family: 'ar', serif;
  }
  #side-menu li a{
    font-family: 'ar', serif;
  }

  #setup-menu>li>a {
    font-family: 'ar', serif;
}
.xdsoft_datetimepicker {
    font-family: 'ar', serif;
}
ul.tagit-autocomplete {
    font-family: 'ar', serif;
}
ul.tagit li.tagit-choice .tagit-label:not(a) {
    font-family: 'ar', serif;
}
.gpicker {
    font-family: 'ar', serif;
}
.task-info-inline-input-edit {
    width: 250px !important;
}

.panel-heading .panel-title:after {
    font-family: 'FontAwesome';
    content: "\f068";
    float: left;
    color: #2e2e2e94;
    margin-right: 10px;
}
.panel-heading .panel-title.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067";
    color: #2e2e2e94;
}
.master .cols {
    width: 280px;
    display: inline-block;
    height: 400px;
    margin: 0 5px;
    overflow-y: auto;
    border-radius: 3px;
    background: #e3e8ee;
    padding: 0px;
}
.master .cols h2 {
    padding: 5px;
    margin: 5px;
    font-size: 20px;
}
.master .cols .card {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px;
    background: #ecf6fb!important;
    border: 1px solid #c2e7ef!important;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    user-select: none;
}
.master .cols .panel-heading{
    background: rgb(224, 255, 160);
    border: 1px solid rgb(216, 255, 152);
}

.fancyTab {
    text-align: center;
    padding:15px 0;
    background-color: #eee;
    box-shadow: 0 0 0 1px #ddd;
    top:15px;
    transition: top .2s;
}

.fancyTab.active {
    top:0;
    transition:top .2s;
}

.whiteBlock {
    display:none;
}

.fancyTab.active .whiteBlock {
    display:block;
    height:2px;
    bottom:-2px;
    background-color:#fff;
    width:99%;
    position:absolute;
    z-index:1;
}

.fancyTab a {
    font-size:1.65em;
    font-weight:300;
    transition:.2s;
    color:#333;
}

.fancyTabs {
    border-bottom:2px solid #ddd;
    margin: 15px 0 0;
}

li.fancyTab a {
    padding-top: 15px;
    top:-15px;
    padding-bottom:0;
}

li.fancyTab.active a {
    padding-top: inherit;
}

.fancyTab .fa {
    font-size: 30px;
    width:100%;
    padding: 15px 0 5px;
    color:#666;
}

.fancyTab.active .fa {
    color: #cfb87c;
}

.fancyTab a:focus {
    outline:none;
}

.fancyTabContent {
    border-color: transparent;
    box-shadow: 0 -2px 0 -1px #fff, 0 0 0 1px #ddd;
    padding: 30px 15px 15px;
    position:relative;
    background-color:#fff;
}

.nav-tabs > li.fancyTab.active > a,
.nav-tabs > li.fancyTab.active > a:focus,
.nav-tabs > li.fancyTab.active > a:hover {
    border-width:0;
}

.nav-tabs > li.fancyTab:hover {
    background-color:#f9f9f9;
    box-shadow: 0 0 0 1px #ddd;
}

.nav-tabs > li.fancyTab.active:hover {
    background-color:#fff;
    box-shadow: 1px 1px 0 1px #fff, 0 0px 0 1px #ddd, -1px 1px 0 0px #ddd inset;
}

.nav-tabs > li.fancyTab:hover a {
    border-color:transparent;
}

.nav.nav-tabs .fancyTab a[data-toggle="tab"] {
    background-color:transparent;
    border-bottom:0;
    font-size: 16px;
}

.nav-tabs > li.fancyTab:hover a {
    border-right: 1px solid transparent;
}

.nav-tabs > li.fancyTab > a {
    margin-right:0;
    border-top:0;
    padding-bottom: 30px;
    margin-bottom: -30px;
}

.nav-tabs > li.fancyTab {
    margin-right:0;
    margin-bottom:0;
}

.nav-tabs > li.fancyTab:last-child a {
    border-right: 1px solid transparent;
}

.nav-tabs > li.fancyTab.active:last-child {
    border-right: 0px solid #ddd;
    box-shadow: 0px 2px 0 0px #fff, 0px 0px 0 1px #ddd;
}

.fancyTab:last-child {
    box-shadow: 0 0 0 1px #ddd;
}

.tabs .nav-tabs li.fancyTab.active a {
    box-shadow:none;
    top:0;
}


.fancyTab.active {
    background: #fff;
    box-shadow: 1px 1px 0 1px #fff, 0 0px 0 1px #ddd, -1px 1px 0 0px #ddd inset;
    padding-bottom:30px;
}

.arrow-down {
    display:none;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 22px solid #ddd;
    position: absolute;
    top: -1px;
    left: calc(50% - 20px);
}

.arrow-down-inner {
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 12px solid #fff;
    position: absolute;
    top: -22px;
    left: -18px;
}

.fancyTab.active .arrow-down {
    display: block;
}

@media (max-width: 1200px) {

    .fancyTab .fa {
        font-size: 36px;
    }

    .fancyTab .hidden-xs {
        font-size:22px;
    }

}


@media (max-width: 992px) {

    .fancyTab .fa {
        font-size: 33px;
    }

    .fancyTab .hidden-xs {
        font-size:18px;
        font-weight:normal;
    }

}


@media (max-width: 768px) {

    .fancyTab > a {
        font-size:18px;
    }

    .nav > li.fancyTab > a {
        padding:15px 0;
        margin-bottom:inherit;
    }

    .fancyTab .fa {
        font-size:30px;
    }

    .nav-tabs > li.fancyTab > a {
        border-right:1px solid transparent;
        padding-bottom:0;
    }

    .fancyTab.active .fa {
        color: #333;
    }

}

.form-control{
    padding: 3px 12px;
}

@media (max-width: 425px) {
    .book-style{
        display: none !important;
    }
}
.book-style{
    font-size: 6rem;
    text-align: left;
    color: #626f80;
}

.book-body{
    padding: 15px !important;
}

.book-btn{
    background: #626f80;
}

#loading{
    margin: 30px;
    padding: 15px;
    border-radius: 5px;
    background: #ff00000d;
}

/*for big header*/
#logo img {
    height: 68px !important;
}

#header{
    height: 100px;
}

body.rtl .navbar-right {
    margin-top: 20px;
}

.hide-menu{
    line-height: 64px;
}

.logo-text {
    margin-top: 25px;
}

#menu {
    top: 100px;
}

#setup-menu-wrapper {
    top: 100px;
}

.navbar-nav>li>a {
    font-size: 15px;
}

body.rtl .input-group .input-group-addon {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-right: 0px;
}

body.rtl .input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle {
    border-top-left-radius: 4px !important;;
    border-top-right-radius: 0 !important;;
    border-bottom-right-radius: 0 !important;;
    border-bottom-left-radius: 4px !important;
}

.dataTables_length select {
    padding-top: 0px !important;
    padding: 0px 12px !important;
}

.checklist:hover,
.checklist:hover textarea[name="checklist-description-session"]:disabled {
    background: #eef2f4;
}

textarea[name="checklist-description-session"] {
    resize: none;
    overflow: hidden;
    font-size: 14px;
    border-radius: 3px;
    padding: 0 5px 0px 5px;
    border: 0;
    outline: 0;
    width: 100%;
}

textarea[name="checklist-description-session"]:focus,
textarea[name="checklist-description-session"]:hover,
textarea[name="checklist-description-session"]:active {
    outline: 0;
}

textarea[name="checklist-description-session"]:disabled {
    background: #fff;
    color: #212121;
    opacity: 1;
}

.toggle-group .btn{
    font-size: 13px !important;
    right: auto !important;
}

.toggle.btn {
    min-width: 8.7rem !important;
}




















#widget-top_stats i {
    margin-bottom: 1rem;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-size: 24px;
    color: black;
    border-radius: 50% !important;
    position: relative;
    top: 5px;
}

.top_stats_wrapper {
    padding: 5px 6px 15px 6px;
    border-radius: 8px;
}
#widget-top_stats span {
    display: block;
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    margin: 7px -9px;
}
#widget-top_stats i {
    margin-bottom: 1rem;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-size: 24px;
    color: black;
    border-radius: 50% !important;
    position: relative;
    top: 5px;
}

#widget-top_stats i {
    margin-bottom: 1rem;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-size: 24px;
    color: black;
    border-radius: 50% !important;
    position: relative;
    top: 5px;
}

#widget-top_stats i {
    margin-bottom: 1rem;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-size: 24px;
    color: white;
    border-radius: 50% !important;
    position: relative;
    top: 5px;
}

#widget-top_stats i {
    margin-bottom: 1rem;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-size: 24px;
    color: black;
    border-radius: 50% !important;
    position: relative;
    top: 5px;
}
li a i.menu-icon {
    margin-left: 16px;
    display: block;
    float: right;
    width: 18px;
    font-size: 17px;
}











