#add_adjust_form .control-label{
    margin: 10px;
}#adjust_div p{
     margin: 6px;

 }#add_adjust_action{
      margin-left: 5px;
      margin-right: 5px;
  }
#cancel_btn{
    margin-left: 5px;
    margin-right: 5px;
}

.btn_plus{
    color: #008ece !important;
    border: 1px solid #bfcbd9 !important;
    background-color: #fbfdff !important;
}

.random_background{
    padding: 20px !important;
    color: #323a45 !important;
    margin-bottom: 0 !important;
    font-size: unset;
}

/* to change Color */
#header {
    background: #415165;
    /* Old browsers */
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(#415165), color-stop(26%, #51647c), color-stop(73%, #51647c), to(#0ad5f5));
    background: linear-gradient(to right, #415165 0%, #51647c 26%, #51647c 73%, #0ad5f5 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#415165', endColorstr='#4f5d7a', GradientType=1);
    /* IE6-9 */
    display: block;
    height: 63px;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 99;
}
.ajax-remove-values-option .ajax-clear-values {
    right: 15px !important;
}

.datepicker_modal {
    width: 250px !important;
}

/*by baraa just for mozila ff */
@-moz-document url-prefix() {
    .custom_select_arrow{
        -webkit-appearance: none !important;
        appearance: none !important;
        -moz-appearance:none !important;
        background: transparent url('data:image/gif;base64,R0lGODlhBgAGAKEDAFVVVX9/f9TU1CgmNyH5BAEKAAMALAAAAAAGAAYAAAIODA4hCDKWxlhNvmCnGwUAOw==') left center no-repeat !important;
        background-position: calc(4% - 0px) center !important;
    }
}
