
/* Added for rtl menu icon and arrwo */
li a i.menu-icon-ar {
    margin-left: 16px;
    display: block;
    float: right;
    width: 18px;
    font-size: 17px
}

.user-data .home-activity i.menu-icon-ar {
    width: 10px;
    font-size: 16px
}

.nav-tabs.navbar-pills-flat>li a i.menu-icon-ar {
    font-size: 15px;
    width: 12px;
    margin-top: 1px
}

#setup-menu .arrow-ar,
#side-menu .arrow-ar {
    float: left;
    padding-top: 3px
}

.fa.arrow-ar:before {
    content: "\f104"
}

.active>a>.fa.arrow-ar:before {
    content: "\f107"
}

body.rtl #setup-menu .arrow-ar,
body.rtl #side-menu .arrow-ar {
    margin-left: 15px
}

body.rtl .bootstrap-select .dropdown-toggle .caret 
{
     right: unset; left: 12px;
    }
body.rtl .input-group .bs3.bootstrap-select .dropdown-toggle .filter-option 
{
    margin-right: 0px
}
body.rtl .bootstrap-select.show-tick .dropdown-menu .selected span.check-mark 
{
    right: unset; left: 15px;
}
body.rtl .bootstrap-select.show-tick .dropdown-menu li a span.text 
{
     margin-right: unset; margin-left: 34px;
    }

    /* Added for rtl menu icon and arrwo */

    
#add_adjust_form .control-label{
    margin: 10px;
}#adjust_div p{
     margin: 6px;

 }#add_adjust_action{
      margin-left: 5px;
      margin-right: 5px;
  }
#cancel_btn{
    margin-left: 5px;
    margin-right: 5px;
}

.btn_plus{
    color: #008ece !important;
    border: 1px solid #bfcbd9 !important;
    background-color: #fbfdff !important;
}

.random_background{
    padding: 20px !important;
    color: #323a45 !important;
    margin-bottom: 0 !important;
    font-size: unset;
}

/* to change Color */
#header {
    background: #415165;
    /* Old browsers */
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    /* background: -webkit-gradient(linear, left top, right top, from(#415165), color-stop(26%, #51647c), color-stop(73%, #51647c), to(#1adefc)); */
    /* background: linear-gradient(to right, #415165 0%, #51647c 26%, #51647c 73%, #1adefc 100%); */
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#415165', endColorstr='#4f5d7a', GradientType=1);
    /* IE6-9 */
    display: block;
    height: 63px;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 99;
}
.ajax-remove-values-option .ajax-clear-values {
    right: 15px !important;
}

.datepicker_modal {
    width: 250px !important;
}

/*by baraa just for mozila ff */
@-moz-document url-prefix() {
    .custom_select_arrow{
        -webkit-appearance: none !important;
        appearance: none !important;
        -moz-appearance:none !important;
        background: transparent url('data:image/gif;base64,R0lGODlhBgAGAKEDAFVVVX9/f9TU1CgmNyH5BAEKAAMALAAAAAAGAAYAAAIODA4hCDKWxlhNvmCnGwUAOw==') left center no-repeat !important;
        background-position: calc(4% - 0px) center !important;
    }
}
/*by baraa for tooltip_pulse */
.tooltip_pulse {
    position: absolute;
    right: 74%;
    z-index: 99999999999999999999;
    top: 12%;
}

.pulse {
    background: #415165;
    box-shadow: inset 0 0 10px 0 grey;
    border-radius: 100%;
    height: 24px;
    width: 25px;
    text-align: center;
    font-size: 18px;
    color: white;
}
.pulse:before, .pulse:after {
    content: "";
    border-radius: 100%;
    display: block;
    height: 140%;
    position: absolute;
    top: -20%;
    left: -20%;
    width: 140%;
    box-shadow: inset 0 0 0 2px #415165;
    transition: all ease-in-out 300ms;
    opacity: 0;
}
.pulse:nth-child(2n + 1):before {
    animation-delay: 200ms;
}
.pulse:before {
    animation: pulse-long;
    animation-iteration-count: infinite;
    animation-duration: 1200ms;
    opacity: 1;
}
.pulse:hover {
    box-shadow: inset 0 0 10px 0 grey;
}
.pulse:hover:before, .pulse:hover:after {
    opacity: 1;
}
.pulse:hover:before {
    animation: pulse-short;
    animation-iteration-count: infinite;
    animation-duration: 1000ms;
    opacity: 1;
}

@keyframes pulse-short {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(2);
    }
    100% {
        opacity: 0;
    }
}
@keyframes pulse-long {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.4);
    }
    100% {
        opacity: 0;
    }
}



@font-face {
    font-family: 'ar';
    font-style: normal;
    font-weight: normal;
    src: local('ar'), url("Cairo-Regular.ttf") format('truetype');
  }
  body {
    font-family: 'ar', serif;
  }
  #side-menu li a{
    font-family: 'ar', serif;
  }

  #setup-menu>li>a {
    font-family: 'ar', serif;
}
.xdsoft_datetimepicker {
    font-family: 'ar', serif;
}
ul.tagit-autocomplete {
    font-family: 'ar', serif;
}
ul.tagit li.tagit-choice .tagit-label:not(a) {
    font-family: 'ar', serif;
}
.gpicker {
    font-family: 'ar', serif;
}
.task-info-inline-input-edit {
    width: 250px !important;
}