/****Root color Code****/
:root {
  --main-bg-color: #b1976b;
  --white-bg-color: #fff;
  --header-search-bg: rgba(0,0,0,.2);
  --black-text-color: #000;
  --menu-hover-bg: rgba(200, 200, 200, 0.2);
}
/****Close****/
body {background-color: #e3e8ee !important; }
#header{background: var(--main-bg-color);}
#top_search input{background: var(--header-search-bg);border-radius: 40px;height: 50px;}
.nanobar{height: 0}
#side-menu{background: var(--white-bg-color);}
#side-menu li.active>a{background: var(--main-bg-color); color: white;}
#side-menu.nav>li>a:focus, #side-menu.nav>li>a:hover{background: var(--menu-hover-bg); color: black}
.dashboard_user{background: var(--main-bg-color); opacity: 0.9;}
#side-menu li a{color: var(--black-text-color); }
.btn-info{background: var(--main-bg-color);}
.btn-info:hover{background: var(--main-bg-color); border-color: var(--main-bg-color);}
.radio-primary input[type=radio]:checked+label::after {
  background-color: var(--main-bg-color) !important;
}
.radio-primary input[type=radio]:checked+label::before {
  border-color: var(--main-bg-color) !important;
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover{background: var(--main-bg-color); border-color: var(--main-bg-color);}
a{color: --main-bg-color}
table.dataTable thead>tr>th{color: var(--black-text-color)}
#side-menu li .nav-second-level li a{color: var(--black-text-color)}
#side-menu li .nav-second-level li.active a{background: var(--main-bg-color);}
.progress-bar{background: var(--main-bg-color);}
#side-menu.nav>li.pinned_project>a:hover {color: #000;}
.dataTables_length select:focus, 
.uneditable-input:focus, 
input[type=color]:focus, 
input[type=date]:focus, 
input[type=datetime-local]:focus, 
input[type=datetime]:focus, 
input[type=email]:focus, 
input[type=file]:focus, 
input[type=month]:focus, 
input[type=number]:focus, 
input[type=password]:focus, 
input[type=search]:focus, 
input[type=tel]:focus, 
input[type=text]:focus, 
input[type=time]:focus, 
input[type=url]:focus, 
input[type=week]:focus, 
select.form-control:focus, 
textarea.form-control:focus{border-color: #bfcbd9}
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover, 
.nav-tabs>li>a:focus, 
.nav-tabs>li>a:hover{color: --main-bg-color}
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover, 
.navbar-pills.nav-tabs>li>a:focus, 
.navbar-pills.nav-tabs>li>a:hover{ border-bottom: 1px solid var(--main-bg-color);}
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover, 
.nav-tabs>li>a:focus, 
.nav-tabs>li>a:hover{ border-bottom: 1px solid var(--main-bg-color);}
.hrm-bgblue {background-color: var(--white-bg-color);}
.btn-success{background: var(--main-bg-color);}
.checkbox-info input[type=checkbox]:checked+label::before, .checkbox-info input[type=radio]:checked+label::before {
  background-color: var(--main-bg-color);
  border-color: var(--main-bg-color);}
.dropdown-menu>.active>a, 
.dropdown-menu>.active>a:focus, 
.dropdown-menu>.active>a:hover{background: var(--main-bg-color);}
.user-data .home-activity .nav-tabs>li.active>a, 
.user-data .home-activity .nav-tabs>li.active>a:focus, 
.user-data .home-activity .nav-tabs>li.active>a:hover, 
.user-data .home-activity .nav-tabs>li>a:focus, 
.user-data .home-activity .nav-tabs>li>a:hover{color: --main-bg-color !important}
.btn-info.active, 
.btn-info:active, 
.open>.dropdown-toggle.btn-info{background: var(--main-bg-color) !important; opacity: 0.9; border-color: var(--main-bg-color) !important;}
.btn-info.disabled, 
.btn-info.disabled.active, 
.btn-info.disabled.focus, 
.btn-info.disabled:active, 
.btn-info.disabled:focus, 
.btn-info.disabled:hover, 
.btn-info[disabled], 
.btn-info[disabled].active, 
.btn-info[disabled].focus, 
.btn-info[disabled]:active, 
.btn-info[disabled]:focus, 
.btn-info[disabled]:hover, fieldset[disabled] 
.btn-info, 
fieldset[disabled] .btn-info.active, 
fieldset[disabled] .btn-info.focus, 
fieldset[disabled] .btn-info:active, 
fieldset[disabled] .btn-info:focus, 
fieldset[disabled] .btn-info:hover{background: var(--main-bg-color); opacity: 0.9;}
.activity-feed .feed-item {border-left: 2px solid var(--main-bg-color);}
.label-info {background: 0 0;border: 1px solid var(--main-bg-color);color: --main-bg-color;}
.modal-header{background: var(--main-bg-color); opacity: 0.9;}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current, 
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default, 
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div.xdsoft_current {-webkit-box-shadow: none;box-shadow: none;background: var(--main-bg-color);border-radius: 3px; opacity: 0.9;}
#setup-menu>li>a {color: var(--black-text-color);}
#setup-menu-wrapper{background: var(--white-bg-color); }
.btn.active, 
.btn.active:focus, 
.btn:active, 
.btn:active:focus, 
.btn:focus{background: var(--main-bg-color); border-color: var(--main-bg-color)}
.btn-primary {color: #fff;background: var(--main-bg-color) !important}
.checkbox-primary input[type=checkbox]:checked+label::before, 
.checkbox-primary input[type=radio]:checked+label::before {
  background-color: var(--main-bg-color);
  border-color: var(--main-bg-color);
}
#top_search {padding-top: 7px;}
.btn-success.active, .btn-success:active, .btn-success:focus, .btn-success:hover, .open .dropdown-toggle.btn-success {
  background-color: var(--main-bg-color);
  border-color: var(--main-bg-color);
}
.text-info{ color: var(--main-bg-color);}
.dropzone .dz-message {color: var(--main-bg-color);}
.table.items thead{background-color: var(--main-bg-color);}
.radio-primary input[type=radio]:checked+label::before
.radio-primary input[type=radio]:checked+label::after {
background-color: var(--main-bg-color) !important;}
.login_admin{background-color: var(--main-bg-color) !important;}


.ringing {
	background-color: #b1976b;}

#setup-menu li .nav-second-level li.active a {
	background-color: #5e3030;}

.ringing {
	background-color: #5e3030;}


#setup-menu li .nav-second-level li.active a {
	background-color: #5e3030;}

	.quick-stats-leads{
	display:none;
	
	
}
.top_stats_wrapper {
   
    border-radius: 15px;

}
.panel_s .panel-body {
   
    border-radius: 11px;
  
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav-tabs>li>a:focus, .nav-tabs>li>a:hover {
   background: var(--main-bg-color);
	  color:white;
}
#setup-menu li .nav-second-level li.active a {
	background-color: #b1976b;}
#top_search {
    padding-top: 7px;
    margin-left: 200px;
}


#top_search_button{
	 margin-right: -183px;
}
